.jumbotron {
    background-image: url("https://c.pxhere.com/photos/0b/6a/black_and_white_chair_computers_desks_indoors_job_man_office-1028132.jpg!d");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
  background-color: rgba(255, 255, 255, 0.5)
}

body {
  background-color: #f8f9fa;
}

.lead {
  color: white;
  font-size: 200%;
}

.card {
  margin: 50px auto;
}

.card-img-top {
  padding: 15px;
}

.card-body>p {
  font-style: italic;
}

footer {
  margin-top: 50px;
}

svg {
  margin: 10px;
}
